
.node {
  width: 20px;
  height: 20px;
  outline: 1px solid rgb(107, 148, 149);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 9;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
      
    background-color: #b73b3be6;
    border-radius: 20%;
  }

  50% {
    background-color:#25CECB;
  }

  75% {
    transform: scale(1.2);
    background-color: #b1c1d01f;
  }

  100% {
    transform: scale(1);
    background-color: #b600da;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(225, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(225, 254, 106);
  }
}